.invite-win {
    border: 1px solid black;
    border-radius: 30px;
    margin: 40px 0;
    height: 382px;
    width: 1037px;
    
}

.ref-i-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600!important;
    font-size: 36px;
    line-height: 54px;
    color: #00B4DB;
    height: 61px;
    width: 236px;
    margin-right: auto;
    margin-left: auto;
}
.ref-i-desc {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #00B4DB;
    height: 38px;
    width: 311px;
    margin-right: auto;
    margin-left: auto;
}
.share-link {
    text-align: center;
    img {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
}
.copy-link {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 660px;
}
.ref-i-site {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #00B4DB;
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    padding-top: 1px;
    height: 48px;
    width: 507px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.ref-i-copyBtn {
    background-color: #00B4DB;
    border-radius: 30px;
    border: none;
    height: 43px;
    width: 71px;
    margin-top: 10px;
    img {
        height: 15.55px;
        width: 21.02px;
    }
}
.ref-how-works {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.ref-h-w-img {
    img {
        height: 80px;
    }
}
.ref-h-w-text {
    display: flex;
    max-width: 76%;
    margin-right: auto;
    margin-left: auto;
    color: black;
    
}
.ref-h-w-desc {
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 2px;
    // margin-top: 10px;
    text-align-last: left;
    width: 110%;
    margin-left: 5px;
}
.ref-h-w-count {
    font-family: Poppins;
    font-style: normal;
    font-size: 42px;
    font-weight: 600;
    width: 30px;
}