@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~devextreme/dist/css/dx.common.css";
@import "~devextreme/dist/css/dx.light.css";
@import "./variables.scss";
@import "./layout/index.scss";
@import "./common/index.scss";
@import "./screens/index.scss";
@import '~video-react/styles/scss/video-react'; 
@import "./index.scss";


// .base {
//   .book_trailPage,
//   .home__screen {
//     padding-top: 15%;
//   }
// }

.dx-field {
  min-height: 0;
  color: $color-font;
  font-weight: 500;
  font-size: 12px;
}

.subheader {
  padding: 10px;
  margin-bottom: 0;
  background: $color-bg-white;
  border-bottom: 1px solid $color-bg-gray;
}

.dx-popup-content {
  overflow: auto;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.video-react{
  background-color:#fff;
}


#medium-indicator{
  position: fixed;
}

.book_now_coding {
  padding: 10px 25px;
  border-radius: 19px;
  border: 0;
  font-weight: 500;
//   color: #fff;
  background-color: #fff;
}

@media (max-width: 521px) {
  .dx-popup-wrapper > .dx-overlay-content {
    width: 90% !important;
    margin: auto 5% !important;
  }
}
