

/* Base theme colors */
$color-primary: #364f5a;
$color-secondary: #50759d;
$color-success: #5cb85c;
$color-accent: #ff5722;
$color-bg-white: #fff;
$color-bg-gray: #f7f7f7;

/* Font colors */
$color-font:#444444;


/*button*/
$color-btn-primary:#364f6a;
$color-btn-secondary:#50759d;
$color-btn-default:#f7f7f7;
$color-btn-success:#5cb85c;
$color-btn-red:#d43f3a
