.core__philosophy {
  display: flex;
  flex-direction: column;

  align-items: center;
  color: #000000;
  margin: 10% 0;

  h5 {
    font-size: 2.2rem;
    text-align: center;

    @media only screen and (max-width: 425px) {
      font-size: 1rem;
    }
  }

  .philosphy__items {
    background-color: #d7eefd;
    margin: 2% 10%;

    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (max-width: 425px) {
      margin: 2% 6%;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2% 0;
      font-size: 1rem;
      font-weight: bold;

      @media only screen and (max-width: 425px) {
        font-size: 12px;
        flex-basis: 50%;
        margin: 10% 0;
      }

      img {
        width: 50%;
        @media only screen and (max-width: 425px) {
          width: 60%;
        }
      }
    }
  }
}
