.privacy-header {
    background-color: #00B4DB;
    height: 45vh;
    .title {
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        /* or 43px */
        letter-spacing: 0.01em;
        color: #FFFFFF;
        text-align: center;
        padding-top: 30vh;
    }
}
.content {
    margin-top: 50px;
    max-width: 90%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: black;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;

}